{% extends 'base.html' %}

{% block title %}BioBreak - Find a Bathroom{% endblock %}

{% block content %}
    <div id="search">
        <div id="subhead">
            Find a gender neutral, disability accessible or changing table bathroom
        </div>
        <form id="frmSearch" method="GET" action="/index_maps">
            <input id="tbSearch" type="textbox" name="txtSearch" size="50">
            <input id="btSubmit" type="button" name="btnSubmit" value="Search">
        </form>
    </div>
    <div id="noresults">
        <span id="span_noresults">&nbsp;</span>
    </div>
    <div id="map_wrapper">
        <div id="map_canvas" class="mapping"></div>
    </div>
    <script defer>
      "use strict";

            // Google Maps
          function initMap(results) {
            console.log("initMap");
            let map = new google.maps.Map(document.getElementById('map_canvas'), {
              zoom: 10,
              gestureHandling: 'cooperative',
              mapTypeId: 'roadmap',
              // user last lat/lng for center
              center: new google.maps.LatLng(results[4]["lat"], results[4]["lng"])
            });
            map.setTilt(45);

            let marker;
            let position;
            // Info Window Content
            let infoWindowContent = [];
            let infoWindow = new google.maps.InfoWindow({
                'maxWidth': 500
            });
            for (let i = 0; i < results.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(results[i]["lat"], results[i]["lng"]),
                    map: map
                });

                let lst_comments = "";
                for (let data of results[i]["comments"]) {
                    lst_comments += ('<li>' + data + '</li>')
                }
                if (lst_comments === "") {
                    lst_comments = "No comments";
                }

                let symbols = "";
                if ( results[i]["unisex"] === true ) {
                    symbols = '<i class="fa fa-transgender-alt" aria-hidden="true"></i>'
                }
                if ( results[i]["accessible"] === true ) {
                    symbols = symbols + '<i class="fa fa-wheelchair" aria-hidden="true"></i>'
                }
                if ( results[i]["changing_table"] === true) {
                    symbols = symbols + ' <i class="fa fa-child" aria-hidden="true"></i>'
                }

                let content = $('<div style="height: 600px;" class="info_content">' +
                '<h3>' + results[i]["name"] + '&nbsp;' + symbols + '</h3>' +
                '<p>' + results[i]["address"] + '</br>' +
                results[i]["city"] + ', ' + results[i]["state"] +
                '</br></br><h4>Directions</h4>' + results[i]["directions"] +
                '<h4>Comments</h4>' +
                '<ul id="comments">' + lst_comments + '</ul>' +
                '<h4>Ratings</h4>' +
                '<form><br />' +
                    '<input id="rating-system" type="number" class="rating" min="1" max="5" step="1">' +
                    '</form>' +
                '</p></div>');



                infoWindowContent.push(content[0]);

                // Allow each marker to have an info window
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infoWindow.setContent(infoWindowContent[i]);
                        infoWindow.open(map, marker);
                    var $input = $('input.rating');
                    if ($input.length) {
                        $input.removeClass('rating-loading').addClass('rating-loading').rating();
                    }
                    }
                })(marker, i));

            }
          }

        function mapResults(results) {
            console.log("mapResults");
            let data = results["data"]
            if ( data.length == 0 ) {
                $('#span_noresults').text('Sorry no results were found.')
                return;
            }
          initMap(data);
        }

        function requestData() {
            console.log("requestData");
            // let audio = new Audio('static/bath-flush3.wav');
            // audio.play();
            let frmInput = $('#tbSearch').val();
            let txt = {"searchRequest": frmInput};
            $.get("/index_maps.json",txt, mapResults);
        }

        // display maps on page load
        $( document ).ready( requestData );

        // user defined search
        $('#btSubmit').click(requestData);

        // Google Places autocomplete
        let input = document.getElementById('tbSearch');
        let autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(tbSearch, 'place_changed',
            function(){
                let place = autocomplete.getPlace();
      })

</script>
{% endblock %}

